PORT=<port>
DB_CNN_PRODUCTION=<url mongo>
DB_CNN_DEVEPLOMENT=<url mongo>
DB_CNN_TEST=<url mongo>
CLIENT_PAYPAL=<Client paypal key>
SECRET_PAYPAL=<Secret paypal key>
SECRET_JWT_SEED=<custom token>
SECRET_JWT_SEED_ADMIN=<custom token>
SECRET_AUTH_ADMIN=<custom token>
ALGOLIA_APP_ID=<Algolia app id key>
ALGOLIA_API_KEY=<Algolia api/admin key>
ALGOLIA_INDEX_NAME=<Algolia index app>
GOOGLE_KEY=<Google Apikey>
GOOGLE_URL=<Google url>
